@model Blogging_system.Models.Article

@{
    ViewBag.Title = "Article Details";
    Layout = "~/Views/Shared/BasicAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Category_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Category_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticleTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticleBody)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleBody)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publish_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publish_date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditArticle", new { id = Model.ArticleId }) |
    @Html.ActionLink("Back to List", "IndexArticles")
</p>
